<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>

<h1>Showing Client</h1>

<p>
<strong>Name</strong>
<%= @customer.name %>
</p>

<strong>Email</strong>
<%= @customer.email %>
</p>

<strong>Phone</strong>
<%= @customer.phone %>
</p>